.person {
  position: absolute;
  bottom: 5vmin;
  right: 5vmin;
  font-size: 2.5rem;
  &::before {
    content: "";
    position: absolute;
    font-size: 2rem;
    height: 0.5vmin;
    width: 7vmin;
    border-radius: 50%;
    opacity: 75%;
    background: $background-color;
    top: 6vmin;
    left: 0.75vmin;
    box-shadow: 0 0 1vmin $background-color;
  }
}
