@import "config";

.canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right bottom,
    $background-color,
    $bright-golden-color,
    $bright-golden-color
  );
  display: flex;
  align-items: center;
  justify-content: center;
  @import "world";
}
